<!--   *** PORTFOLIO ***-->
<h4 class="main-heading">Current Work</h4>
{{#masonry-grid items=model customLayout=true gutter=10 as |item index grid|}}
	
	{{#masonry-item item=item grid=grid class="box-masonry col-xs-12 col-sm-12 col-md-5 col-lg-5"}}
		{{#if item.link}}
			{{#link-to item.link class="box-masonry-image with-hover-overlay with-hover-icon"}}
				<img src="{{constants.rootURL}}{{item.img}}" class="img-responsive">
			{{/link-to}}
		{{else if item.link_external}}
			<a href="{{item.link_external}}" target="_blank" class="box-masonry-image with-hover-overlay with-hover-icon">
				<img src="{{constants.rootURL}}{{item.img}}" class="img-responsive">
			</a>
		{{else}}
			<img src="{{constants.rootURL}}{{item.img}}" class="img-responsive">
		{{/if}}
		<div class="box-masonry-text">
			<h4> <a href="#">{{item.title}}</a></h4>
			<div class="box-masonry-desription">
				<p>{{item.description}}</p>
			</div>
		</div>
	{{/masonry-item}}	
{{/masonry-grid}}

<!--   *** PORTFOLIO END ***
-->
