<h4 class="main-heading">Current Students </h4>
{{#each model.current as |student|}}
	<div class="media col-sm-12 hidden-xs">
		<div class="media-left">
			<a href="#">
				<img class="media-object" src="{{student.img}}" width="300px">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{student.firstname}} {{student.lastname}} ({{student.type}} {{student.years}})</h4>
			{{student.description}}
		</div>
	</div>
	<div class="media col-xs-12 visible-xs-block">
		<img class="media-object" src="{{student.img}}" width="100%">
		<br>
		<h4 class="media-heading">{{student.firstname}} {{student.lastname}} ({{student.type}} {{student.years}})</h4>
		{{student.description}}
	</div>
{{/each}}

<h4 class="main-heading">Former Students</h4>
{{#each model.former as |student|}}
	<div class="media col-sm-12 hidden-xs">
		<div class="media-left">
			<a href="#">
				<img class="media-object" src="{{student.img}}" width="300px">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{student.firstname}} {{student.lastname}} ({{student.type}} {{student.years}})</h4>
			{{student.description}}
		</div>
	</div>
	<div class="media col-xs-12 visible-xs-block">
		<img class="media-object" src="{{student.img}}" width="100%">
		<br>
		<h4 class="media-heading">{{student.firstname}} {{student.lastname}} ({{student.type}} {{student.years}})</h4>
		{{student.description}}
	</div>
{{/each}}
